body{
    background: linear-gradient(to left top, #B8E3FB, #DCDCDC);
}
.cover-container {
    max-width: 70em;
}
.top {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
input {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline-block;
    zoom: 1; 
    width: 150px; 
    text-shadow: 0 .05rem .1rem rgba(255, 255, 255, 1);
    box-shadow: inset 0 0 5rem rgba(255, 255, 255, 0.5);
}
.text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-align: left;
}