<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-compatible" content="ie=edge">
    <title>Flashcard Generator - Powered by GCP Natural Language API</title>
    <link rel="stylesheet" href="/static/css/main_page.css" >
</head>
<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">Flashcard Generator</h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link" href="/">Home</a>   
                    <a class="nav-link" href="/info">Info</a>   
                    <a class="nav-link active" href="/us">About Us</a>
                </nav>
            </div>
        </header>
        <h1 class="cover-heading">Team International</h1>
        <p class="lead">We are all international students studying in different universities.<br>
            Victor Fu is a freshman majoring Chemical and Biomolecular Engineering at UIUC. He's from China. 🇨🇳<br>
            Shayne Marques is a freshman majoring in Computer Science at Purdue University. He's from India. 🇮🇳<br>
            Brain Lin is a junior majoring Computer Science and Engineering at University of Michigan. He's from New Zealand. 🇳🇿<br>
            Alex is a sophomore majoring Computer Science and Engineering at University of Michigan. He's from Vietnam. 🇻🇳<br></p>
        <p class="lead">
            <a href="/" class="btn btn-lg btn-secondary">Learn What We've Done</a>
        </p>
        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>Made at <a href="https://mhacks12.devpost.com/?ref_content=default&ref_feature=challenge&ref_medium=discover">MHacks12</a></p>
            </div>
        </footer>
    </div>
</body>
</html>