<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-compatible" content="ie=edge">
    <title>Flashcard Generator - Powered by GCP Natural Language API</title>
    <link rel="stylesheet" href="/static/css/main_page.css" >
</head>
<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">Flashcard Generator</h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link" href="/">Home</a>   
                    <a class="nav-link active" href="/info">Info</a>   
                    <a class="nav-link" href="/us">About Us</a>
                </nav>
            </div>
        </header>
        <h1 class="cover-heading">Easy Study - with NLP.</h1>
        <p class="lead">Google Cloud Platform is used.</p>
        <p class="lead">
            <a href="/input-page" class="btn btn-lg btn-secondary">Start Generating!</a>
        </p>
        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>Made at <a href="https://mhacks12.devpost.com/?ref_content=default&ref_feature=challenge&ref_medium=discover">MHacks12</a></p>
            </div>
        </footer>
    </div>
</body>
</html>