<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/input.css" >
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-compatible" content="ie=edge">
    <title>Main Page</title>
</head>
<body>
    <h1>Enter the text!</h1>
    <form action="/submit-text" method="post" class="input">
        <br>
        <textarea class="box" type="text" id="text" name ="text"></textarea>
        <br>
        <input class="submit" type="submit" value="submit" />
    </form>
</body>
</html>