<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/check_keyword.css" >
    <title>Customize Your Keywords</title>
</head>
<body>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <h1 class="top">Keywords You Choose to Keep:</h1>
        <div style="height: 200px; overflow:auto;">
        {% for key in keywords %}
            <input type="checkbox" id="myCheck" value={{key}} checked><label class ="output">{{ key }}</label>
        {% endfor %}
        </div>
        <br>
        <button class="btn btn-outline-primary justify-content-center" id="submit" onclick="submitKeywords()">Submit - Generate Flashcards Now</button>
        <br>
        <p class="text" id="text">{{text}}</p>
        <script src="/static/js/keyword.js"></script>
    </div>
    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>Made at <a href="https://mhacks12.devpost.com/?ref_content=default&ref_feature=challenge&ref_medium=discover">MHacks12</a></p>
        </div>
    </footer>
</body>
</html>